body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}


.login-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgb(179, 252, 22);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
    color: #333;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}


.btn-submit {
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-submit:hover {
    background-color: #e68a00;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #ff9800;
    color: #62fcff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media (max-width: 576px) {
    .login-form {
        padding: 15px;
    }
}